<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/omers/workspace/InarAcademy/Selenium/src/main/java/week04/Chapter16/Day01.java"><classes><class name="week04.Chapter16.Day01"><methods><include name="Demo"/></methods></class></classes></test></suite>